body {
  font-family: sans-serif;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(107, 157, 171) 23.8%,
    rgb(92, 122, 158) 66%
  );
}

.container {
  background-image: url("images/weather.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin-top: 30px;
  max-width: 700px;
  border-radius: 8px;
  padding: 20px 20px;
}


